/* HEADER */
#header {
  height: 3rem;
  background-color: #f8f9fa;
  display: flex;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  position: sticky;
}
/* logo */
#header .dashboard-logo {
  height: 100%;
  flex: 1;
  border-right: 1px solid #dee2e6;
}
.dashboard-logo img {
  width: 80px;
  margin-left: 16px;
  margin-top: 16px;
}
#header .dashboard-header-empty {
  flex: 5;
}
/* BODY CONTAINER */
#body-container {
  display: flex;
}
/* side container */
#body-container #side-container {
  flex: 1;
  color: #0d6efd;
  font-size: 14px;
  border-right: 1px solid #dee2e6;
  height: calc(100vh - 3rem);
}
/* your dashboard */
#side-container .side-container-title {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(33, 37, 41, 0.75);
  padding-top: 40px;
  padding-left: 16px;
}
.dashboard-list {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 16px;
}
.dashboard-list a {
  text-decoration: none;
  color: #0d6efd;
  margin-left: 8px;
}
.dashboard-list img {
  display: block;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
#side-container .sign-out {
  margin-top: 10px;
  border-top: 1px solid #dee2e6;
}
.dashboard-list a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* main */
#body-container #main {
  flex: 5;
  background-color: #fff;
}
#main .main-title-div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 0;
  margin: 0 24px;
  border-bottom: 1px solid #dee2e6;
}
.main-title-div .fa-bars {
  font-size: 32px;
}
/* search box */
#main .search-div {
  display: block;
  text-align: right;
  margin-right: 37px;
  margin-top: 22px;
  margin-bottom: 23px;
  position: relative;
}
.search-div #search-box {
  border: 1px solid #e7eaee;
  padding: 10px 103px 10px 16px;
  border-radius: 4px;
}
.search-div #search-box::placeholder {
  color: #64748b;
  font-size: 14px;
}
.search-div .fa-magnifying-glass {
  font-size: 12px;
  color: rgba(100, 116, 139, 1);
  position: absolute;
  top: 14px;
  right: 8px;
  transition: transform 0.5s ease-out;
}
.search-div .fa-magnifying-glass:hover {
  transform: scale(1.5, 1.5);
  cursor: pointer;
}
/* table */
#main #user-table-container {
  margin-left: 48px;
  margin-right: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
#user-table-container table {
  width: 100%;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #eaecf0;
}
table th {
  padding-left: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: left;
  font-size: 12px;
  color: #667085;
  background-color: #f9fafb;
}
table td {
  padding-left: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: left;
  font-size: 14px;
  color: #101828;
}
table .fa-trash {
  font-size: 18px;
  color: #ff0000;
  margin-right: 30px;
  transition: transform 0.5s ease-out;
}
table .fa-pen {
  font-size: 18px;  
  color: #ffa703;
  transition: transform 0.5s ease-out;
}
table .fa-trash:hover,
table .fa-pen:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}
/* Role */
.uppercase {
  text-transform: uppercase;
}
/* Active / Deactive */
table .status-cell {
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 100px;
}
.status-cell .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
/* when user active */
table .active {
  background-color: #ecfdf3;
  color: #027a48;
}
.active .dot {
  background-color: #12b76a;
  width:5px;
  height:5px;
  border-radius: 100%;
}
/* when user deactive */
table .deactive {
  background-color: #fef2f2;
  color: #b91c1c;
}
.deactive .dot {
  background-color: #ef4444;
  width:5px;
  height:5px;
  border-radius: 100%;
}
/* Button Action */
.btn-edit {
    font-family: 'Inter', sans-serif;
    font-size :12px;
    background: #d0f189;
    color: #000;
    width:60px;
    line-height: 30px;
    border-radius: 5px;
    border:none;
}

.btn-delete {
    font-family: 'Inter', sans-serif;
    font-size :12px;
    background: #f57f30;
    color: #000;
    width:60px;
    line-height: 30px;
    border-radius: 5px;
    border:none;
}
/* pagination */
#main #pagination {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 26px;
}
#pagination .pagination-element {
  font-size: 16px;
  width: 32px;
  height: 32px;
  border: 1px solid #d8dae5;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-out;
}
#pagination .pagination-element:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
#pagination #pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
#pagination-list li {
  list-style-type: none;
}
/* current page active */
#pagination-list .highlight {
  background-color: #0d6efd;
  color: #fff;
}
/* hidden */
#pagination .hidden {
  display: none;
}
